@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#113946;
}
.menu li a.active {
  background: transparent !important;
  text-decoration: underline;
  font-weight: bold;
}


